@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800;900&display=swap');

* {
    font-family: 'Work Sans', sans-serif;
    box-sizing: border-box;
}


.hide{
    display: none;
}

/* this is header section style here */


/* this is nav section style here */
.nav-container {
    width: 85%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0%;
}

.nav-logo-title {
    width: 40%;
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-logo {
    width: 70px;
    height: 35px;
}

.nav-title {
    font-size: 40px;
}

.g-color {
    color: #F948B2;
}

/* this is nav manues style here */
.nav-menues {
    display: flex;
    justify-content: end;
    gap: 25px;
    align-items: center;
}

.nav-menues>li {
    list-style: none;
    text-align: center;
    font-size: 21px;
    font-weight: 500;
}

.nav-menues>li>a {
    text-decoration: none;
    color: rgb(31, 29, 29);
}

.flow-us-now {
    background-color: lightgray;
    display: flex;
    gap: 15px;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
}

.fa-youtube {
    color: red;
    font-size: 28px;
}

/* this is banner section style here */
.banner-container {
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner-content {
    background-image: url('images/Group\ 14.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 50%;
    padding: 110px;
}

.banner-title {
    color: #0B0223;
    font-size: 35px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0;
}

.banner-goat {
    background-image: linear-gradient(to bottom, #F948B2, #8758F1);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    font-size: 70px;
    margin: 0;
    font-weight: 800;
    text-transform: uppercase;
}

.banner-icon {
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
}

.fa-solid {
    background-image: linear-gradient(to bottom, #F948B2, #8758F1);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

.sign-btn {
    border: none;
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 30px;
    background-color: #F948B2;
    color: white;
    margin-right: 10px;
}

.go-btn {
    border: none;
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 30px;
    background-color: #4EC5F7;
    color: white;
}

.banner-img {
    display: flex;
    justify-content: end;
}

.banner-img img {
    width: 100%;
    height: 100%;
}

/* we are the gamer section style here */
.we-are-gamer-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    padding: 50px 100px;
}

.we-are-gamer-img img {
    width: 650px;
    height: 380px;
}

.we-are-gamer-content {
    text-align: right;
}

.we-are-gamer-title {
    background-image: linear-gradient(to bottom, #F948B2, #8758F1);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    font-size: 35px;
    margin: 0;
}

.we-are-gamer-desc {
    color: #534C64;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.know-more-btn {
    border: none;
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 30px;
    background-color: #F948B2;
    color: white;
}

.the-gamer-purpose {
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    margin: 20px;
}

.the-gamer-screat {
    color: #534C64;
    font-size: 25px;
    font-weight: 700;
}

/* online games section style */
.online-games-container {
    width: 80%;
    margin: 50px auto;
    text-align: center;
}

.online-games-title {
    color: #0B0223;
    font-size: 42px;
    font-weight: 700;
    margin: 0;
}

.funny-video{
    background-image: linear-gradient(to bottom, #F948B2, #8758F1);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

.online-games-desc {
    color: #534C64;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 40px;

}

.online-games-cards-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: left;
    gap: 15px;
}

.online-games-card img {
    width: 100%;
}



/* this is play-instantly-container section style here */
.play-instantly-container {
    width: 80%;
    margin: 60px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    padding-bottom: 50px;
}

.play-contents1 {
    display: flex;
    align-items: center;
    min-height: 200px;
}

.play-instantly-content {
    text-align: right;
    padding-left: 100px;
    padding-right: 100px;
}

.play-instantly-title {
    font-size: 40px;
    font-weight: 700;
    margin: 0;
}

.play-instantly {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.play-instantly-desc {
    color: #534C64;
    font-size: 15px;
    font-weight: 400;
}

.play-instantly-img {
    position: relative;
}

.play-instantly-img .mans>img {
    width: 500px;
    height: 500px;
}

.play-instantly-img .baby>img {
    width: 200px;
    height: 240px;
}


.play-instantly-img>.baby {
    position: absolute;
    top: 320px;
    left: -85px;
}

/* this is games name section */
.games-container {
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
}

.games-name-container {
    width: 90%;
    padding: 100px 0px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 37px;
}

.games-name-img {
    display: flex;
    align-items: center;
    gap: 5px;
    background-color: white;
    padding: 5px 5px;
    border-radius: 100px;
    transition: border 0.2s, padding 0.2s, border-radius 0.2s, color 0.2s;
}

.games-name {
    color: #0B0223;
    font-size: 20px;
    font-weight: 600;
}

#games-img {
    width: 40px;
    height: 40px;
}

.games-name-img:hover {
    border: 2px solid #F948B2;
    padding: 5px 15px;
    border-radius: 100px;
}

.games-name-img:hover .games-name {
    color: #F948B2;
}


/* tooter section style here */
footer {
    background-color: #0B0223;
    color: white;
}

.footer-container {
    padding: 30px;
    text-align: center;
}

.footer-logo-title {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.our-history-website {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 45px;
    margin-bottom: 40px;
}

.our-history-website>p {
    color: #FFF;
    font-size: 18px;
    font-weight: 600;
    line-height: 5px;
}

.footer-icon>button{
    margin: 10px 10px 20px 10px;
    border: none;
    font-size: 40px;
    border-radius: 20px;
    color: white;
    background-color: transparent;
}

.footer-policy{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
    margin-top: 20px;
}